<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="2024 Sofian">
    <title>Login Sign-up</title>
    <link rel="stylesheet" href="../assets/styles/style.css" />
    <link rel="stylesheet" href="../assets/styles/log.css" />
    <script
      src="https://kit.fontawesome.com/54eb68e3e7.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <a href="../index.html" class="name-site icon">e-teamz</a>
      <nav>
        <a href="" class="icon"><i class="fa-solid fa-cart-shopping" onclick="alert('Impossible d\'accéder à votre panier! Vous avez sûrement déjà tout dépensé! 😝')"></i></a>
        <a href="../views/log.html" class="icon"><i class="fa-solid fa-right-to-bracket"></i></a>
      </nav>
    </header>
    <main>
      <section class="back-form">
        <video class="background-video" autoplay loop muted>

            <source src="../assets/img/login/DLOAD.INFO Beats by Dre _ Solo Pro _ Billie Eilish.mp4" type="video/mp4">
            
            </video>
        <form class="form" id="login-form">
            <h2 class="connect">connectez vous</h2>
          <div class="glob-champ">
            <div>
              <!-- <label for="email">email</label> -->
              <input type="email" class="champ" id="email" placeholder="email"/>
            </div>
            <div>
              <!-- <label for="password">mot de passe</label> -->
              <input type="password" class="champ" id="password" placeholder="mot de passe" />
            </div>
          </div>

          <div class="c-button">
            <input type="submit" value="connexion" class="button" />
            <a href="../views/insc.html" class="log-insc">s'inscrire</a>

          </div>
        </form>
      </section>
    </main>

    <script type="module">
      import { AuthService } from "../src/services/authService.js"
      import { submitCallback} from "../src/handlers/submitHandler.js"

      window.addEventListener("DOMContentLoaded", () => {
        

        const form = document.getElementById("login-form");
        form.addEventListener("submit", submitCallback);
      });
    </script>
  </body>
</html>
