<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="2024 Sassid" />
    <meta
      name="description"
      content="Bienvenue sur E-Teamz, le site qui trouvera pour vous les meilleurs deals au meilleurs prix"
    />
    <title>Nos Produits</title>
    <script
      src="https://kit.fontawesome.com/54eb68e3e7.js"
      crossorigin="anonymous"
    ></script>
    <script src="../src/scripts/products.js" defer></script>
    <link rel="stylesheet" href="../assets/styles/products.css" />
    <link rel="stylesheet" href="../assets/styles/style.css" />
  </head>
  <body>
    <header>
      <a href="../index.html" class="name-site icon">e-teamz</a>
      <nav>
        <a href="#" class="icon"><i class="fa-solid fa-cart-shopping" onclick="alert('Impossible d\'accéder à votre panier! Vous avez sûrement déjà tout dépensé! 😝')"></i></a>
        <a href="../views/log.html" class="icon"
          ><i class="fa-solid fa-right-to-bracket"></i
        ></a>
      </nav>
    </header>
    <main>
      <h1>nos produits populaires</h1>
      <section class="products">
        <div class="line1">
          <div class="prod prod1">
            <h2>beats studio pro</h2>
            <h3>399,95 €</h3>
            <img src="../assets/img/products/prod1.bmp" alt="" />
            <span id="details1" class="details">plus de détails</span>
            <button>ajouter au panier</button>
          </div>
          <div class="prod prod2">
            <h2>beats fit pro</h2>
            <h3>249,95 €</h3>
            <img src="../assets/img/products/prod2.bmp" alt="" />
            <span id="details2" class="details">plus de détails</span>
            <button>ajouter au panier</button>
          </div>
          <div class="prod prod3">
            <h2>powerbeats pro</h2>
            <h3>299,95 €</h3>
            <img src="../assets/img/products/prod3.bmp" alt="" />
            <span id="details3" class="details">plus de détails</span>
            <button>ajouter au panier</button>
          </div>
        </div>
        <div class="line2">
          <div class="prod prod4">
            <h2>beats flex</h2>
            <h3>89,95 €</h3>
            <img src="../assets/img/products/prod4.bmp" alt="" />
            <span id="details4" class="details">plus de détails</span>
            <button>ajouter au panier</button>
          </div>
          <div class="prod prod5">
            <h2>beats solo³ sans fil</h2>
            <h3>229,95 €</h3>
            <img src="../assets/img/products/prod5.bmp" alt="" />
            <span id="details5" class="details">plus de détails</span>
            <button>ajouter au panier</button>
          </div>
          <div class="prod prod6">
            <h2>beats studio buds +</h2>
            <h3>199,95 €</h3>
            <img src="../assets/img/products/prod6.bmp" alt="" />
            <span id="details6" class="details">plus de détails</span>
            <button>ajouter au panier</button>
          </div>
        </div>
      </section>
      <section id="hidden-prod1" class="hidden">
        <h4 class="list-titles">beats studio pro</h4>
        <ul>
          <li>audio haute fidélité au format Lossless par USB-C</li>
          <li>audio spatial personnalisé avec suivi dynamique de la tête</li>
          <li>modes Réduction active du bruit et Transparence</li>
          <li>
            jusqu'à 40 heures d'écoute (Réduction active du bruit désactivée)
          </li>
        </ul>
      </section>
      <section id="hidden-prod2" class="hidden">
        <h4 class="list-titles">beats fit pro</h4>
        <ul>
          <li>maintiens d'oreille souples et parfaitement ajustés</li>
          <li>modes Réduction active du bruit et Transparence</li>
          <li>jusqu'à 6 heures d'écoute ; 24 heures avec l'étui de charge</li>
          <li>lecture/mise en pause automatique via la puce apple w1</li>
        </ul>
      </section>
      <section id="hidden-prod3" class="hidden">
        <h4 class="list-titles">power beats pro</h4>
        <ul>
            <li>contours d'oreille ajustables</li>
            <li>son puissant avec plage dynamique et isolation phonique</li>
            <li>jusqu'à 9 heures d'écoute ; 24 heures avec l'étui de charge</li>
            <li>lecture/mise en pause automatique via la puce apple w1</li>
          </ul>
      </section>
      <section id="hidden-prod4" class="hidden2">
        <h4 class="list-titles">beats flex</h4>
        <ul>
            <li>écouteurs magnétiques avec lecture/mise en pause automatique</li>
            <li>son net et puissant</li>
            <li>jusqu'à 12 heures d'écoute</li>
            <li>puce apple w1 et connectivité bluetooth® classe 1 sans fil</li>
        </ul>
      </section>
      <section id="hidden-prod5" class="hidden2">
        <h4 class="list-titles">beats solo³ sans fil</h4>
        <ul>
            <li>ergonomie réglable et oreillettes confortables</li>
            <li>acoustique de précision pour un son riche et clair avec une isolation phonique optimale</li>
            <li>jusqu'à 40 heures d'écoute</li>
            <li>puce apple w1 et connectivité bluetooth® classe 1 sans fil</li>
        </ul>
      </section>
      <section id="hidden-prod6" class="hidden2">
        <h4 class="list-titles">beats studio buds +</h4>
        <ul>
            <li>modes réduction active du bruit et transparence</li>
            <li>jusqu'à 8 heures d'écoute ; 24 heures avec l'étui de charge</li>
            <li>jumelage d'un seul geste pour apple10 et android11</li>
            <li>écouteurs résistants à l'eau et à la transpiration (indice IPX4)</li>
        </ul>
      </section>
    </main>
  </body>
</html>
