@font-face {
    font-family: ;
    src: url();
}

/** GENERAL */

html{
    scroll-behavior: smooth !important;
}

body {
    background-image: url('../../img/white-cloud-blue-sky.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none !important;
}

h1 {
    text-transform: capitalize;
}

/* section {
    margin-block: 100px;
} */

/* * HEADER */

.navbar-collapse {
    justify-content: end;
}

.navbar {
   background-color: white !important ;
   opacity: 93%;
}

.nav-link {
    color: black;
}

.nav-link.active {
    /* color: rgb(137, 0, 27) !important; */
    color: rgb(157, 11, 11) !important;
}



/** MAIN */

 /* main {
    margin-block: 20px;
}  */


.card {
    background-color: rgba(255, 255, 255, 0.396);
}


.renderpics > figure {
    width: 300px;
    height: 412px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 20px;
    border: 2px solid white;
}

.renderpics figcaption {
    width: 300px;
    height: 412px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    position: absolute;
    top: 412px;
    left: 0;
    transition: 500ms;
}

figure:hover > figcaption {
  top: 0;
}

section.renderpics > figure > img {
    min-width: 100%;
    max-width: 100%;
}

section.renderpics > figure > figcaption > span {
    font-style: italic;
}




